@import "../../styles/variables";

.profileContent{
  width: 100%;
  display: flex;
  justify-content: center;
}

.avatar{
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $h4-size;
}

.profileContainer{
  width: 50%;

  @media screen and (max-width: $screen-tablet) {
    width: 100%
  }
}
